

<div id="intro">
  <h2>Cohort WDI 10 :: November 2014 - February 2015</h2>
  <p>16 survivors of the General Assembly Web Development Immersive course. Click us to find out more information.</p>
</div>


  <div class="test" >
    <div class="overlay" ng-show="selectedStudent">
      <div class='close' ng-click='clearSelectedStudent()'>x</div>
      <h2>{{ selectedStudent.name }} </h2><p>{{ selectedStudent.description }}</p>
      <p><a ng-if="selectedStudent.github != null" href="{{selectedStudent.github}}" target="_blank"><img id='github' src="/images/github.png" alt="GitHub profile"></a>
      
      <a ng-if="selectedStudent.linkedin != null" href="{{selectedStudent.linkedin}}" target="_blank"><img id='linkedin' src="/images/linkedin.png" alt="Linkedin profile"></a>
    </p>
    </div>

    <input ng-model="search" placeholder='search students by first name'>

    <div id="photos">
      <div  ng-repeat="student in students | filter : {name: search}" ng-click="selectStudent(student)" >
        <img ng-mouseover="studentHoverImage(student)" ng-class="{hover: student == hoverStudent}" class="image" src="{{ student.image }}" alt="Photo of WDI student">
        <img class="hover-image" ng-class="{hover: student == hoverStudent}" src="{{ student.hoverImage }}" alt="Hover photo of WDI student"> 
      </div>          
    </div>

  </div>
