<div id='teachers'>
  <h2>Who taught us</h2>
  <div class='teacher'><h3>Michael</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ex porro est quidem debitis consequatur laboriosam? Placeat nulla alias mollitia, ducimus hic illo perspiciatis, atque impedit tenetur eveniet pariatur molestias.</p>
  </div>
  <div class='teacher'><h3>Jarkyn</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat doloribus laborum corrupti dignissimos illum, amet unde consectetur non esse a facilis officiis quod vero libero itaque quas, dolores, iure repellat?</p>
  </div>
  <div class='teacher'><h3>Alex</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, qui odit! At non molestias eius dolores recusandae amet expedita, officiis explicabo! Nam ex, expedita facilis odit id debitis numquam tempore.</p>
  </div>
  <div class='teacher'><h3>Johanna</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, qui odit! At non molestias eius dolores recusandae amet expedita, officiis explicabo! Nam ex, expedita facilis odit id debitis numquam tempore.</p>
  </div>
  <div class='teacher'><h3>Guy</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, qui odit! At non molestias eius dolores recusandae amet expedita, officiis explicabo! Nam ex, expedita facilis odit id debitis numquam tempore.</p>
  </div>

</div>