<div id='tech-wrapper'>
<div id='technology'>
  <h2>What we know</h2>
  <div class='tech_item'><h3>Ruby</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ex porro est quidem debitis consequatur laboriosam? Placeat nulla alias mollitia, ducimus hic illo perspiciatis, atque impedit tenetur eveniet pariatur molestias.</p>
  </div>
  <div class='tech_item'><h3>Rails</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat doloribus laborum corrupti dignissimos illum, amet unde consectetur non esse a facilis officiis quod vero libero itaque quas, dolores, iure repellat?</p>
  </div>
  <div class='tech_item'><h3>HTML and CSS</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, qui odit! At non molestias eius dolores recusandae amet expedita, officiis explicabo! Nam ex, expedita facilis odit id debitis numquam tempore.</p>
  </div>
  <div class='tech_item'><h3>JavaScript</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, qui odit! At non molestias eius dolores recusandae amet expedita, officiis explicabo! Nam ex, expedita facilis odit id debitis numquam tempore.</p>
  </div>
  <div class='tech_item'><h3>Angular.js</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, qui odit! At non molestias eius dolores recusandae amet expedita, officiis explicabo! Nam ex, expedita facilis odit id debitis numquam tempore.</p>
  </div>
  </div>
  </div>
